<h3> <%= "Hi #{player_name}!" %> </h3>
<form action='/buy_in' method='post'>
  <p class="lead">How much do you want to buy-in?</p>
  <div class='input-append'>
    <input class='span2' id='appendedInputButton' type='text' name='money' />
    <button type='submit' class='btn btn-primary'>Buy-in</button>
  </div>
  <p class='muted'>
    <small>*Buy-in must be multiple of <%= "#{MULTIPLE}" %></small>
  </p>
</form>
