<h4>Dealer Cards</h4>
<% dealer_cards.each do |card| %>
<ul>
  <li><%= card %></li>
</ul>
<% end %>
<h4>Player Cards</h4>
<% player_cards.each do |card| %>
<ul>
  <li><%= card %></li>
</ul>
<% end %>
