<h4>Dealer Cards</h4>
<% dealer_cards.each do |card| %>
<ul>
  <li><%= card %></li>
</ul>
<% end %>
<h4>Player Cards</h4>
<% player_cards.each do |card| %>
<ul>
  <li><%= card %></li>
</ul>
<% end %>
<p>
  <%= "#{player_name} has #{calculate_total(player_cards)}" %>
</p>

<div class='row'>
  <div class='span1'>
    <form action='/game/player_stay' method='post'>
      <button type='submit' class='btn btn-success btn-block'>Stay</button>
    </form>
  </div>
  <div class='span1'>
    <form action='/game/player_hit' method='post'>
      <button type='submit' class='btn btn-warning btn-block'>Hit</button>
    </form>
  </div>
</div>
