img.card_image {
  margin: 0 5px 5px 0;
  height: 140px;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.53);
}

.well {
  background-color: rgb(255, 255, 255);
}

#game_menu {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 20px;
  position: fixed;
  left: 70%;
  top: 20%;
}
